body {
    color: rgb(20, 11, 11);
    font-size: 18px;
    background-color:beige ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header , footer p{
    background-color: black;
    color: aqua ;
    padding: 15px;
    text-align: center;
}

nav ul li{display: inline;;
    font-size: larger;
    margin:0 15px;
    text-align: center;
   
    }
    
    nav ul li a{
        color:aqua;
        font-weight: bold;
        background-color: black;
        padding: 10px 12px;
        border: 1px solid lightgray;
        border-radius: 7px;
        text-decoration: none;
        }

/* adds an class */

.title {
    color:coral
}
/* adds an id */

#my-image{
    box-shadow: 0 0 2px 1px black;
}

ul.hobbies-list {
    list-style-type: square ;
    } 
ul.hobbies-list li:nth-child(odd){
    background-color: coral;
}
/* adds a hover */
a:hover{
    text-decoration: none;
}


